<header>
    <div class="header">
      <h1>
        Management Portal
      </h1>
      <div class="hamburger" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
   
    <div class="line"></div>

    <nav id="dropdown" class="dropdown-content">
      <a href="/homepage">Home</a>
      <a href="/departments">Departments</a>
      <a href="/jobs">Jobs</a>
      <a href="/employees">Employees</a>
      <a href="/login">Logout</a>
    </nav>
  </header>