<!-- Create Department Modal -->
<dialog open class="modal create-modal">

    <button class="cancelbtn"><a href="/departments"><span class="material-symbols-outlined closebtn">cancel</span></a></button>

    <h2>Create Department</h2>

    <label class="department-titles" for="department-title">Department title:</label>

    <input class="title-input" type="text" id="new-department-title" value=""></input>
    
    <label class="department-titles" for="department-description">Department Description:</label>
    
    <input class="description-input" type="text" id="new-department-description" value=""></input>
    
    <div class="modalbtns">
        <button class="create">Create</button>
    </div>
</dialog>
<script src="/css/create-department.js"></script>
