<header>
    <div class="header">
        <h1>
        Management Portal
        </h1>
        
        <div class="hamburger" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>

    <div class="line"></div>

    <nav id="dropdown" class="dropdown-content">
        <a href="#">Home</a>
        <a href="#">Departments</a>
        <a href="#">Jobs</a>
        <a href="#">Logout</a>
    </nav>
    

</header>

<div class="employees-top-bar">
    <ul>
        <li>Name</li>
        <li>Title</li>
        <li>Manager</li>
        <li>Department</li>
    </ul>
</div>

<div class="employee-info">
    <ul>
        <li>John Doe</li>
        <li>Sales Rep</li>
        <li>Ashley Martinez</li>
        <li>Sales</li>
    </ul>
    <button class="editbtn"><span class="material-symbols-outlined openbtn">edit_square</span></button>
</div>

<div class="employee-info">
    <ul>
        <li>Luke Skywalker</li>
        <li>Jedi</li>
        <li>Jose Diaz</li>
        <li>Engineering</li>
    </ul>
    <button class="editbtn"><span class="material-symbols-outlined openbtn">edit_square</span></button>
</div>

<div class="employee-info">
    <ul>
        <li>John Doe</li>
        <li>Sales Rep</li>
        <li>Ashley Martinez</li>
        <li>Sales</li>
    </ul>
    <button class="editbtn"><span class="material-symbols-outlined openbtn">edit_square</span></button>
</div>