{{> navbar}}

<div class="circles">
    
    <button class="circlebtn" onclick="window.location.href='/departments'">Departments</button>
    
    <button class="circlebtn" onclick="window.location.href='/jobs'">Jobs</button>

    <button class="circlebtn" onclick="window.location.href='/employees'">Employees</button>

</div>  

<div class="descriptions">

    <p class="description">Lists all the departments with their correlating jobs</p>

    <p class="description">Displays all the current jobs with the ability to also edit the list</p>

    <p class="description">Shows all the employees along with their job title and manager</p>

</div>


