
<div class="grid">
    <div class="jobs-title">Title</div>
    <div class="jobs-salary">Salary</div>
    <div class="jobs-department">Department</div>
    <div class="filler"><button class="jobs-add">Add</button></div>

    <div class="jobs-title">Eletrical Engineer</div>
    <div class="jobs-salary">60000</div>
    <div class="jobs-department">Engineering</div>
    <div><button class="jobs-edit">Edit</button></div>
</div>