:root {
    --marigold: #F7CE3E;
    --denim: #1A2930;
    --screen: #a7a5a5;
    --darkgray: #777777;

}



html {
    font-family: "Helvetica", sans-serif;
    background-color: var(--denim);
}


/* Login */

.email-login, .password-login {
    font-size: 20px;

    color: var(--screen);  
}
.loginTitle {
    text-align: center;
    font-size: 40px;

    color: var(--marigold);
}
.form-input {
    width: 400px;
    height: 22px;

    margin: 10px 0 20px 0;
}
.user, .password {
    display: flex;
    flex-direction: column;

    padding: 15px 0 15px 0;
}
.btn-primary {
    text-decoration: none;
    border: none;
    border-radius: .375rem;

    width: 100px;
    height: 35px; 
    font-size: 18px;

    color: var(--marigold);
    background-color: var(--screen);
}

.btn-primary:hover {
    cursor: pointer;

    color: var(--denim);
    background-color: var(--marigold);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
   
    height: 80vh
}





/* Header and Navigation */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

h1 {
    margin-left: 20px;
    color: var(--screen);
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
}
  
.bar1, .bar2, .bar3 {
    width: 33px;
    height: 3px;

    background-color: var(--screen);

    margin: 6px 0;
    transition: 0.3s;
}
  
/* Animates the hamburger to turn it into an X */
.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}

/* Divides the header from the body */
.line {
    width: 100%;
    height: 2px;

    background-color:var(--screen);
}

/* The dropdown when the hamburger is clicked */
.dropdown-content {
    float: right;
    display: block;
    position: absolute;
    
    min-width: 200px;
    padding: 20 0 20 0;
    
    z-index: 1;
    right: 0;
    margin-right: 20px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: var(--screen);

    opacity: 0;
    pointer-events: none;

    transform: translateY(-10px);
    transition: opacity 150ms ease, transform 150ms ease;
}

/* The links in the dropdown */
.dropdown-content a {
    color: var(--denim);
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    text-decoration: underline;
}

/* Animates the dropdown */
.show {
    
    display:block;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}





/* HomePage Body */


/* Formats the circles aligning them with eachother */
.circles {
    display: flex;

    justify-content: space-around;
    align-items: center;
   
    height: 60vh;  
}

.circlebtn {
    text-decoration: none;
    border: none;
    background: none;

    width: 300px;
    height: 300px;
    font-size: 30px;

    margin: 0.5em;
    border-radius: 50%; 
    
    color: var(--denim);
    border: 5px solid var(--marigold);
    background-color: var(--marigold);
    
    transition: background-color .5s, color .5s;
}

/* Animates the buttons when hovering */
.circlebtn:hover {
    cursor: pointer;

    background-color: var(--denim);
    color: var(--marigold);
  
    transition: background-color .5s, color .5s;
}


 
/* Formats the text to align with the circles */
.descriptions {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.description {
    width: 300px;
    font-size: 25px;

    text-align: center;
    justify-content: space-around;

    color: var(--screen);
    margin: 0;
}





/* Departments Page */

.card {
    width: 300px;
    height: 300px;

    border: var(--screen) solid;
    border-radius: 10%;

}

.department-title, .job-title{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    color: var(--marigold)
    
}

.edit-department {
    text-decoration: none;
    background: none;
    border: none;
    margin: 10px;
    float: right;
    color: var(--screen);

}

.add-department {
    text-decoration: none;
    background: none;
    border: none;
    color: var(--screen);

}

.edit-department:hover, .add-department:hover {
    cursor: pointer;
    color: var(--darkgray);
}

.department-jobs ul li {
    text-decoration: none;
    list-style: none;
    color: var(--marigold);
    font-size: 20px;
    
}

.card-layout {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.card-layout > .card {
    margin: 50px;
}

.add-department > a > .add::before {
    content: "+";
    width: 300px;
    height: 300px;
    font-size:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:light;
    font-family:courier;
    color:var(--screen);
    cursor: pointer;
}

.add-department > a:hover > .add::before {
    color: var(--darkgray)
}

/* Department Modals */

.modal::backdrop {
    background: #5555554f;
    
}
.modal {
    width: 30%;
    height: 60vh;
    border: none;
    border-radius: 20px;
    background-color: var(--screen);
    color: var(--denim);
    padding: 30px 20px 20px 30px;
    margin-top: 60px;
   
}

.cancelbtn {
    background: none;
    border: none;
    margin: 10px;
    float: right;
    color: var(--denim);
}

.cancelbtn:hover {
    cursor: pointer;
    color: var(--marigold);
}

.jobs-card {
    height: 25vh;
}

.modalbtns {
    display: flex;
    justify-content: space-around;
    margin: 20px 10px 0 0;
    
}

.save, .delete, .cancel, .create, .jobs-add {
    text-decoration: none;
    border: none;
    border-radius: .375rem;

    width: 100px;
    height: 35px; 
    font-size: 18px;

    color: var(--denim);
    background-color: var(--marigold);
}

.save:hover, .delete:hover, .create:hover {
    cursor: pointer;

    color: var(--marigold);
    background-color: var(--denim);
}

#department-title, #job-title, #new-department-title, 
#new-department-description, #job-description, #job-salary, 
#job-department, #new-job-title, #new-job-description, 
#new-job-salary, #new-job-department {

    background-color: var(--screen);
    border: var(--denim) solid;
    border-radius: 5px;
    height: 25px;
    width: 90%;
    margin: 20px 0;
    
}




/* Employees Page */

.employees-top-bar > ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 40px 0 10px 0;
    
}
.employees-top-bar > ul > li {
    
    text-decoration: none;
    list-style: none;
    color: var(--darkgray);
    font-size: 20px;
    width: 250px;
    text-align: center;
    
}

.employee-info > button {
    margin-top: -50px;
    margin-right: 20px;
    
}


.employee-info > ul {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 0 0;
    margin: 10px 0 20px 0;
    border-top: var(--darkgray) solid;
    
}
.employee-info > ul > li {
    
    text-decoration: none;
    list-style: none;
    color: var(--marigold);
    font-size: 20px;
    width: 250px;
    text-align: center;
    
    
}







/* Jobs Page */

.grid {
    display: grid;
    
    grid-template-columns: 29% 29% 29% 13%;
    margin: 30px 50px 0 50px;
    
   
    justify-content: center;
    place-content: center;

    border: var(--screen) solid;
}


.jobs-add:hover {
    cursor: pointer;

    color: var(--marigold);
    background-color: var(--screen);

}

.jobs-edit {
    text-decoration: none;
    border: none;
    border-radius: .375rem;

    width: 100px;
    height: 35px; 
    font-size: 18px;

    color: var(--marigold);
    background-color: var(--screen);

    justify-content: center;
    align-items: center;
}

.jobs-edit:hover {
    cursor: pointer;

    color: var(--denim);
    background-color: var(--marigold);
}

.jobs-title, .jobs-salary, .jobs-department, .jobs-filler {
    
    justify-content: center;
    
}

.grid > div {
    border-bottom: var(--screen) solid;
    color: var(--screen);
    
}
.grid > .filler > .jobs-edit {
    justify-content: center;
    align-items: center;
}


a {
    text-decoration: none;
    color: var(--screen);
}

a:hover, .cancelbtn > a:hover {
    color: var(--darkgray);
}

.cancelbtn > a {
    color: var(--marigold)
}

.dropdown-content > a {
    color: var(--denim);
}

.dropdown-content > a:hover {
    color: var(--marigold);
}

.jobs-edit > a {
    color: var(--marigold);
}

.jobs-edit > a:hover {
    color: var(--screen);

}

.grid > div {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;

    padding: 10px 0 10px 0;
    border: 1px solid;
}

.list-title {
    font-weight: 400;
    font-size: 25px;
    color: var(--marigold)
}

.job-titles {
    display:inline-block
}

.employees-top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--screen);
    font-size: 25px;
    padding: 30px 0px 10px 0px;
}

.employee-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--screen);
    font-size: 25px;
    padding: 30px 0px 10px 0px;
}

.employees-list, .employees-title-list {
    width: 280px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.employee-info {
    padding: 25px 0px 25px 0px;
    color: var(--marigold);
    border-top: var(--darkgray) solid;
}

.add-employee > a {
    color: var(--marigold);
}

.employee-edit, .add-employee {
    background: none;
    border: none;

}

.employee-edit {
    color: var(--screen);
}

.employee-edit:hover {
    color: var(--darkgray);
    cursor: pointer;
}

.add-employee > a > .add::before {
    content: "+";
    width: 25px;
    height: 25px;
    font-size:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:light;
    font-family:courier;
    color:var(--marigold);
}

.add-employee > a:hover > .add::before {
    color: var(--darkgray)
}

#new-employee-first-name,
#new-employee-last-name, #new-employee-title, #new-employee-manager, #new-employee-job, #new-employee-department, 
#edit-employee-first-name, #edit-employee-last-name, #edit-employee-manager, #edit-employee-job, #edit-employee-department   {
    background-color: var(--screen);
    border: var(--denim) solid;
    border-radius: 5px;
    height: 25px;
    width: 90%;
    margin: 15px 0;
}

.employee-titles {
    display:inline-block;
}

.modal2 {
    width: 30%;
    height: 66vh;
    border: none;
    border-radius: 20px;
    background-color: var(--screen);
    color: var(--denim);
    padding: 30px 20px 20px 30px;
    margin-top: 60px;
   
}